.col-rowno {
  width: 45px;
}
.col-ref {
  width: 120px;
}
.col-dec {
  text-align: right;
  width: 150px;
}
.col-amt {
  text-align: right;
  width: 150px;
}
.col-qty {
  text-align: center;
  width: 100px;
}
.col-date {
  width: 160px;
}
.col-action {
  width: 165px;
}

.col-select-md {
  width: 230px !important;
}

.col-code {
  width: 90px;
}
.col-code-max {
  width: 150px;
}
.col-phone {
  width: 130px;
}
//ADD MOORE SIZE LATER
