.content {
  min-height: 98vh !important;
  background: #fff;
  //min-width: 1000px;
}

.setting-title{
  display: flex;
  gap: 6px;
  align-items: center;
}

nz-layout{
  background: inherit;
  nz-header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f0f0f0;
    background-color: inherit !important;
    height: 40px !important;
    line-height: 40px !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
    > span{
      line-height: 1;
      padding: 0 6px;
    }
  }
  nz-content.setting-content{
    margin-top: 12px !important;
    .content-container{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
      grid-template-rows: max-content;
      gap: 18px 8px;
    }
    .content-header{  
      p{ 
        margin-bottom: 0 !important;
        font-weight: bold !important;
      }
    }
    .content-body{
      a{
        span{
          padding: 0 6px;
        }
      }
    }
  }
} 