/**
  Declare variable or method for styles
*/
@import "highlight.js/styles/default.css"; 
@mixin scrollbar-thumb-styles($color) {
    background: $color;
    border-radius: #{$scrollbar-border-radius};
} 
ion-grid{
    padding: 0 !important;
}
ion-item {
    --padding-start: 0;
}
ion-thumbnail {
    margin: 0 !important;
    padding: 0 !important;  
}
  .ripple {
      position: absolute;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.2);
      transform: scale(0);
      animation: ripple 600ms ease-out;
      pointer-events: none;
      z-index: 2;
  }

  @keyframes ripple {
      to {
          transform: scale(4);
          opacity: 0;
      }
  }
:root {
    --ion-color-primary: #0054e9;--ion-color-danger: #ef4444;
    // --ion-color-secondary: #0cd1e8;
    // --ion-color-tertiary: #7044ff;

    // --ion-color-success: #10dc60;
    // --ion-color-warning: #ffce00;
    // --ion-color-danger: #f04141;
    // --ion-color-dark: #222428;
    // --ion-color-medium: #989aa2;
    // --ion-color-light: #f4f5f8;
}


@font-face {
    font-family: Kantumruy;
    src: url("./assets/font/Kantumruy.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Gilroy;
    src: url("./assets/font/Gilroy-Medium.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
}


*:not(.fas):not(.fab) {
    font-family: Gilroy, Kantumruy, serif;
}
.hide-scrollbar {
    overflow: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; 
}
body {
    margin: 0;
    font-family: Kantumruy, "Helvetica Neue", sans-serif;
    background-color: #eeeeee;  
}