/**
  Declare variable or method for styles
*/
@import "highlight.js/styles/default.css";

$scrollbar-border-radius: "10px";
$scrollbar-width: 5px;
$scrollbar-track-bg: #e2e2e2;
$scrollbar-thumb-bg: #bcbcbc;
$scrollbar-thumb-hover-bg: #a0a0a0;
$scrollbar-thumb-active-bg: #909090;
$border-radius: 5px;

@mixin scrollbar-thumb-styles($color) {
  background: $color;
  border-radius: #{$scrollbar-border-radius};
}

@font-face {
  font-family: Kantumruy;
  src: url("./assets/font/Kantumruy.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Gilroy;
  src: url("./assets/font/Gilroy-Medium.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}


*:not(.fas):not(.fab) {
  font-family: Gilroy, Kantumruy, serif;
}

body {
  margin: 0;
  font-family: Kantumruy, "Helvetica Neue", sans-serif;
  background: #fafafa;
  nz-layout {
    background: unset !important;
    nz-content {
      background: inherit;
      nz-table {
        height: calc(100vh - 70px);
        overflow-y: auto;
      }
    }
    nz-footer {
      background: inherit;
    }
  }

  .ant-checkbox-inner,
  .ant-select:not(.ant-select-customize-input) .ant-select-selector,
  .ant-input-number,
  nz-date-picker,
  nz-input-group,
  [nz-checkbox],
  [nz-input],
  [nz-button],
  .ant-tag,
  .ant-picker {
    border-radius: $border-radius !important;
  }

  .ant-menu-inline{
    border-right-width: 0;
  }

  .ant-checkbox-checked::after {
    border-radius: $border-radius !important;
  }

  .ant-btn-circle {
    border-radius: 50% !important;
  }

  .scrollbar::-webkit-scrollbar {
    width: $scrollbar-width;
  }
  .scrollbar::-webkit-scrollbar-track {
    @include scrollbar-thumb-styles($scrollbar-track-bg);
  }
  .scrollbar::-webkit-scrollbar-thumb {
    @include scrollbar-thumb-styles($scrollbar-thumb-bg);
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    @include scrollbar-thumb-styles($scrollbar-thumb-hover-bg);
  }
  .scrollbar::-webkit-scrollbar-thumb:active {
    @include scrollbar-thumb-styles($scrollbar-thumb-active-bg);
  }
  .scrollbar {
    overflow-y: auto;
  }

  .cdk-drag-preview {
    display: flex;
    background: rgba(0, 0, 0, 0.1);
    gap: 1em;
    align-items: center;
    padding: 0 4px;
  }

  .cdk-drag-placeholder {
    opacity: 0;
  }

  .nz-disable-td {
    padding: 0 !important;
    border: none !important;
  }

  .ant-select-disabled.ant-select:not(.ant-select-customize-input)
    .ant-select-selector,
  .ant-input[disabled],
  .ant-picker-input > input[disabled], .ant-input-number-disabled .ant-input-number-input {
    color: var(--ant-disabled-color);
  }

  nz-select,
  .ant-picker {
    width: 100%;
  }

  .ant-table-thead > tr > th {
    position: sticky;
    top: 0;
    z-index: 999;
  }

  [nz-menu].menu-custom {
    padding: 8px;
    > [nz-menu-item] {
      border-radius: 6px;
      height: 36px;
      line-height: 36px;
    }

    > [nz-menu-item],
    [nz-submenu-title] {
      padding-left: 16px !important;
    }
    > [nz-menu-item]:after {
      display: none;
    }
    > [nz-menu-item] {
      border-radius: 6px;
    }
    > [nz-submenu] {
      > [nz-menu-item] {
        padding-left: 40px !important;
        height: 36px;
        line-height: 36px;
      }
    }
  }

  .ant-menu-light .ant-menu-item:hover:not(.ant-menu-item-selected) {
    background-color: rgba(var(--ant-primary-color-rgb), 0.04) !important;
  }

  .ant-menu-dark .ant-menu-item:hover:not(.ant-menu-item-selected) {
    background-color: rgba(var(--ant-dark-color-rgb), 0.06) !important;
  }

  .ant-menu-dark .ant-menu-sub,
  .ant-menu.ant-menu-dark .ant-menu-sub {
    background-color: inherit;
  }

  .ant-menu-light .ant-menu-item-selected {
    background-color: rgba(var(--ant-primary-color-rgb), 0.1) !important;
  }

  .ant-menu-dark .ant-menu-item-selected {
    background-color: rgba(var(--ant-dark-color-rgb), 0.2) !important;
  }

  .ant-upload-list-picture-card .ant-upload-list-item,
  .ant-upload.ant-upload-select-picture-card {
    border-radius: $border-radius;
  }

  .ant-btn-icon-only.ant-btn-sm {
    padding: 0 !important;
  }

  .avatar {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    nz-badge {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    nz-avatar {
      margin: 4px;
    }
  }
  .avatar:hover {
    background-color: rgba(var(--ant-primary-color-rgb), 0.2);
  }

  ul.dropdown-menu-custom {
    border-radius: 6px;
    padding: 2px 0;
    > li {
      border-radius: 0;
      height: 36px;
      line-height: 36px;
      min-width: 100px;
    }
    .edit {
      color: var(--ant-primary-color);
    }
    .delete {
      border-top: 1px solid var(--ant-border-color);
      color: var(--ant-error-color);
    }
    .default {
      color: var(--ant-default-color);
    }
  }

  .loading-custom {
    height: 100%;
    .ant-spin {
      max-height: 100%;
    }
  }

  .timeline-container {
    .ant-timeline-item {
      padding-bottom: 10px !important;
    }
  }

  .ant-menu-item .anticon + span {
    margin-left: 6px !important;
  }

  .ant-select-dropdown {
    border-radius: 0 0 6px 6px;
  }

  .font-lighter {
    font-weight: normal;
    padding: 0 4px;
    font-size: 14px !important;
  }

  .text-center {
    text-align: center !important;
  }

  .decimal {
    text-align: right !important;
  }

  .divider-custom {
    border-top: 0px solid rgba(0, 0, 0, 0.08);
    border-right: 0px solid rgba(0, 0, 0, 0.08);
    border-left: 0px solid rgba(0, 0, 0, 0.08);
    height: 0.0625rem;
    margin: 0;
    border-bottom: none;
    opacity: 0.25;
    background-color: transparent;
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgb(255, 255, 255),
      rgba(255, 255, 255, 0)
    ) !important;
  }

  .modal-confirm-delete-group {
    .ant-modal-close-x {
      font-size: 12px;
      height: 30px !important;
      width: 30px !important;
      line-height: 30px !important;
    }
    .ant-modal-header {
      text-align: left !important;
      border-bottom: none;
      font-size: 16px !important;
      padding: 16px 24px 0 !important;
    }

    .ant-modal {
      top: 50px !important;
    }
    .ant-modal-body {
      padding: 16px 24px !important;
    }

    .ant-modal-confirm-content {
      margin-left: 0 !important;
    }
    .ant-modal-footer {
      border-top: none;
    }
  }

  .btn-group {
    > button:nth-child(1) {
      border-radius: 6px 0 0 6px !important;
    }

    > button:nth-child(2) {
      border-radius: 0 6px 6px 0 !important;
    }
  }

  .col-num {
    text-align: center;
  }

  .vertical-middle {
    vertical-align: middle;
  }
}
